# JWT
SECRET=

# BCRYPT
SALT=10


# Database
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Sqlite
# DATABASE_URL="file:./dev.db"

# MySql
DATABASE_URL=mysql://root:secret@mysql:3306/monitor_db
MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=monitor_db
MYSQL_USER=devuser
MYSQL_PASSWORD=secret
MYSQL_PORT=3306